{% extends '::base.html.twig' %}

{% block body -%}
    <div style="text-align: center;"><img src="/img/DEH-Logo.jpg" alt="Dubai Equine Hospital" style="padding:20px;" /><p><h3 style="color: #ccc;">Please navigate from menu above</h3></p></div>
{% endblock %}