<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Delma - {% block title %}Print{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/email.css" rel="stylesheet" type="text/css"  />
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
