<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dubai Equine Hospital{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="/js/jquery-1.9.1.js"></script>
    <link href="/css/print.css" rel="stylesheet" type="text/css"  />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>

{% block body %}{% endblock %}

<script language="javascript">
    $(document).ready(function(){
        window.print();
    });
</script>

</body>
</html>
