<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dubai Equine Hospital{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="/js/jquery-1.9.1.js"></script>
    <link href="/css/print-blood.css" rel="stylesheet" type="text/css"  />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <style type="text/css">
        @page {
            @bottom-right {
                content: counter(page) " ofcdccc " counter(pages);
            }
        }
    </style>
</head>

<body>

{% block body %}{% endblock %}

<script language="javascript">
    $(document).ready(function(){
        window.print();
    });
</script>

</body>
</html>
form.search-form.search-form_wide>input.search-form__query-string+input:s.search-form__btn.search-form__btn_large


